body {
  padding-top: 50px;
  padding-bottom: 20px;
}
footer {
  text-align: center;
}
.body-content {
  padding-top: 20px;
}
.panel-heading .input-group {
  margin: -5px auto;
  width: 200px;
}
.panel-heading .panel-title {
  font-size: 22px;
}
table.dataTable {
  margin: 0 !important;
}
div.dataTables_wrapper div.dataTables_paginate {
  margin: -5px auto -10px auto;
}
